@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Outfit", sans-serif;
}

h1{
    font-family: "Playfair Display", serif;
    font-weight: 900;
}


.btn{
    background: #160049;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: bold;
    transform: 0.5s;
    border: 2px solid #160049;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover{
    background: white;
    color: #160049;
}